/* style.js */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Manrope", "Noto Sans KR", sans-serif;
  background-color: rgb(61, 150, 185);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 375px;
  height: 667px;
  position: relative;
  border-radius: 50px;
  border: 15px solid #000;
  box-shadow: 4px 4px 4px #333;
}

#video-bg {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

#app .container {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 35px;
  padding: 5px 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(255, 255, 255, 0.8) 70%
  );
}

.bg-gray {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  padding: 10px;
}

h3 {
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
}

.notch {
  display: flex;
  justify-content: space-between;
}

.notch .notch-black {
  width: 140px;
  height: 25px;
  background: #000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 20px 20px;
}

.title {
  text-align: center;
  position: relative;
}

.title img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.city-select {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

.city-select h4 {
  padding: 35px 10px 10px;
  background: #fff;
}

#btn-close {
  position: absolute;
  right: 25px;
  top: 35px;
  background: none;
  border: none;
}

#btn-close img {
  width: 25px;
}

#city-list {
  width: 100%;
  border: none;
  display: flex;
  text-align: center;
}

#city-list {
  -ms-overflow-style: none;
}
#city-list::-webkit-scrollbar {
  display: none;
}

.city-select #city-list option {
  padding: 10px;
  border-bottom: 0.1px solid #ccc;
}

/* .city-select 전환 */
.city-select {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.city-select.show {
  height: 667px;
  overflow: visible;
  opacity: 1;
}

.now {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.now .now-icon .desc {
  /* font-size: 20px; */
  font-weight: 700;
}

.now .now-temp {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  align-items: center;
}

.now .now-temp .temp {
  font-size: 50px;
}

.now .now-temp p {
  display: flex;
  gap: 15px;
}

.now .now-info {
  margin-top: 20px;
  width: 100%;
}

.now .now-info .info-list {
  display: flex;
  justify-content: space-around;
}

.now .now-info p {
  font-size: 12px;
}

.time-cast .time-list {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.time-cast .time-list .time-content {
  text-align: center;
}

.time-cast .time-list img {
  width: 30px;
}

.week-cast .week-table {
  font-size: 12px;
  width: 100%;
}

/* .week-cast .week-table th {
  width: 53px;
  text-align: right;
} */

.week-cast .week-table img {
  width: 30px;
}
